<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mitch</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Mitch" />

        <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
        <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!--Bootstrap Css-->
        <link rel="stylesheet" href="./css/bootstrap.min.css" />

        <!-- Materialdesign icons Css -->
        <link rel="stylesheet" href="./css/materialdesignicons.min.css">

        <!-- Youtube Background -->
        <link rel="stylesheet" href="./css/ytplayer.css">

        <!-- Mobirise icons Css -->
        <link rel="stylesheet" href="./css/mobiriseicons.css">

        <!-- Magnific-popup -->
        <link rel="stylesheet" href="./css/magnific-popup.css">

        <!-- Animate Css -->
        <link rel="stylesheet" href="./css/animate.min.css">

        <!-- Owl Slider -->
        <link rel="stylesheet" href="././css/owl.carousel.css" />
        <link rel="stylesheet" href="./css/owl.theme.css" />
        <link rel="stylesheet" href="./css/owl.transitions.css" />

        <!-- Custom style Css -->
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>

        <!-- START LOADER -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">Loading...</div>
            </div>
        </div>
        <!-- END LOADER -->

        <!-- START NAVBAR -->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand logo" href="/">
                    <h1 class="logo-light">Mitch</h1>
                    <h1 class="logo-dark">Mitch</h1>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="mdi mdi-menu"></i>
                    </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#experience" class="nav-link">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a href="#work" class="nav-link">Work</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->

        <!--START HOME-->
        <section class="section h-100vh bg-dark" id="home">
            <div class="bg-overlay"></div>
            <a id="video" class="youtube-bg" data-property="{videoURL:'https://www.youtube.com/watch?v=pGbIOC83-So',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
            <div class="home-table">
                <div class="home-table-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="text-white text-center">
                                    <h4>Hello & Welcome</h4>
                                    <h1 class="header_title mb-0 mt-3">I Am <span class="element font-weight-bold" data-elements="Mitch Gaines.,A Developer.,A Scuba Diver.,An Entrepreneur.,A Roboticist.,An Explorer."></span></h1>
                                    <ul class="social_home list-unstyled text-center pt-4">
                                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/mitchgaines/" target="_blank"><i class="mdi mdi-linkedin"></i></a></li>
                                        <li class="list-inline-item"><a href="https://github.com/MitchGaines" target="_blank"><i class="mdi mdi-github-face"></i></a></li>
                                    </ul>
                                    <div class="header_btn">
                                        <a target="_blank" href="./etc/MitchGaines-Resume.pdf" class="btn btn-outline-custom btn-rounded mt-4">Download Resume</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll_down">
                <a href="#about" class="scroll">
                    <i class="mbri-arrow-down text-white"></i>
                </a>
            </div>
        </section>
        <!--END HOME-->

        <!-- START ABOUT -->
        <section class="section" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="text-center mx-auto section-main-title">
                            <h2><span class="font-weight-bold">About Me</span></h2>
                            <div class="main-title-border">
                                <i class="mdi mdi-asterisk"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 pt-4">
                    <div class="col-lg-12">
                        <div class="text-center about-detail mx-auto">
                            <h3 class="mb-3">Hello! <span class="font-weight-bold text-custom">I'm Mitch Gaines.</span></h3>
                            <ul class="mb-0 list-inline text-center about-work">
                                <li class="list-inline-item mr-0 text-muted">Robotics Engineer</li>
                                <li class="list-inline-item mr-0 text-muted">Entrepreneur</li>
                                <li class="list-inline-item mr-0 text-muted">Developer</li>
                                <li class="list-inline-item mr-0 text-muted">Sport Diver</li>
                            </ul>
                            <p class="text-muted mt-3">Building things is my passion.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="progress-bars skill-custom">
                            <div class="clearfix">
                                <div class="text-dark font-weight-bold float-left">Software Development</div>
                                <div class="text-muted float-right">95%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="clearfix">
                                <div class="text-dark font-weight-bold float-left">CAD</div>
                                <div class="text-muted float-right">70%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="clearfix">
                                <div class="text-dark font-weight-bold float-left">Electrical Engineering</div>
                                <div class="text-muted float-right">88%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="progress-bars skill-custom">
                            <div class="clearfix">
                                <div class="text-dark font-weight-bold float-left">Java</div>
                                <div class="text-muted float-right">96%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="clearfix">
                                <div class="text-dark font-weight-bold float-left">Javascript</div>
                                <div class="text-muted float-right">75%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="clearfix">
                                <div class="text-dark font-weight-bold float-left">C++</div>
                                <div class="text-muted float-right">70%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:70%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END ABOUT -->

        <!-- START EXP. & EDU. -->
        <section class="section bg-light" id="experience">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="text-center mx-auto section-main-title">
                            <h2><span class="font-weight-bold">Experience</span></h2>
                            <div class="main-title-border">
                                <i class="mdi mdi-asterisk"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 pt-4">
                    <div class="col-lg-5">
                        <div class="cv_edu_exp mt-3">
                            <div class="cv_edu_exp_box mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cv_edu_exp_year font-weight-bold text-custom position-relative">2016 - 2020</div>
                                        <div class="cb_edu_exp_detail">
                                            <h4>Worcester Polytechnic Institute</h4>
                                            <p class="cv_desc mb-0">Lambda Chi Alpha, SCUBA Club, Investing Association, Tech Adivsors Network</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cv_edu_exp_box mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cv_edu_exp_year font-weight-bold text-custom position-relative">2016 - 2020</div>
                                        <div class="cb_edu_exp_detail">
                                            <h4>Bachelors in Robotics Engineering</h4>
                                            <p class="cv_desc mb-0">Research in Music, Perception, & Robotics Lab and AIM Lab</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cv_edu_exp_box mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cv_edu_exp_year font-weight-bold text-custom position-relative">2014 - Present</div>
                                        <div class="cb_edu_exp_detail">
                                            <h4>Software Engineer</h4>
                                            <p class="cv_desc mb-0">Freelance Software Development in Full Stack Development</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-2">
                        <div class="cv_edu_exp mt-3">
                            <div class="cv_edu_exp_box mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cv_edu_exp_year font-weight-bold text-custom position-relative">2018 - Present</div>
                                        <div class="cb_edu_exp_detail">
                                            <h4>Engineer - Bakku Technologies</h4>
                                            <p class="cv_desc mb-0">Developing several different medical device technologies in the area of physical therapy, assistive, and injury prevention technologies.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cv_edu_exp_box mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cv_edu_exp_year font-weight-bold text-custom position-relative">2016 - 2018</div>
                                        <div class="cb_edu_exp_detail">
                                            <h4>Software Engineering Intern - Corista</h4>
                                            <p class="cv_desc mb-0">Product Engineering and Back-end Development of digital pathology workflow environment.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cv_edu_exp_box mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cv_edu_exp_year font-weight-bold text-custom position-relative">2018 - Present</div>
                                        <div class="cb_edu_exp_detail">
                                            <h4>Dive Technician Intern - East Coast Divers</h4>
                                            <p class="cv_desc mb-0">Repairing dive equipment as well as working sales and receiving advanced training in technical diving.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END EXP. & EDU. -->

        <!--START WORK -->
        <section class="section text-center" id="work">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="text-center mx-auto section-main-title">
                            <h2>My <span class="font-weight-bold">Work</span></h2>
                            <div class="main-title-border">
                                <i class="mdi mdi-asterisk"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-5 work-filter">
                    <div class="col-lg-4 work_item">
                        <a href="./images/fes.png" class="img-zoom">
                            <div class="work_box">
                                <div class="work_img">
                                    <img src="./images/fes.png" class="img-fluid mx-auto d-block rounded" alt="work-img">
                                </div>
                                <div class="work_detail">
                                    <h4 class="mb-0">FES Exoskeleton</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 work_item">
                        <a href="./images/medhacks.jpg" class="img-zoom">
                            <div class="work_box">
                                <div class="work_img">
                                    <img src="./images/medhacks.jpg" class="img-fluid mx-auto d-block rounded" alt="work-img">
                                </div>
                                <div class="work_detail">
                                    <h4 class="mb-0">MedHacks Bed Sore System</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 work_item">
                        <a href="./images/bw-pathfind.png" class="img-zoom">
                            <div class="work_box">
                                <div class="work_img">
                                    <img src="./images/bw-pathfind.png" class="img-fluid mx-auto d-block rounded" alt="work-img">
                                </div>
                                <div class="work_detail">
                                    <h4 class="mb-0">Brigham & Women's Pathfinding Kiosk</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 work_item">
                        <a href="./images/sailbot.jpeg" class="img-zoom">
                            <div class="work_box">
                                <div class="work_img">
                                    <img src="./images/sailbot.jpeg" class="img-fluid mx-auto d-block rounded" alt="work-img">
                                </div>
                                <div class="work_detail">
                                    <h4 class="mb-0">Sailbot Wingsail</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 work_item">
                        <a href="./images/rod-manip.png" class="img-zoom">
                            <div class="work_box">
                                <div class="work_img">
                                    <img src="./images/rod-manip.png" class="img-fluid mx-auto d-block rounded" alt="work-img">
                                </div>
                                <div class="work_detail">
                                    <h4 class="mb-0">Rod Manipulation Robot</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 work_item">
                        <a href="./images/model-viewer.png" class="img-zoom">
                            <div class="work_box">
                                <div class="work_img">
                                    <img src="./images/model-viewer.png" class="img-fluid mx-auto d-block rounded" alt="work-img">
                                </div>
                                <div class="work_detail">
                                    <h4 class="mb-0">STL Parser & Model Viewer</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <!--END WORK -->

        <!-- CONTACT FORM START-->
        <section class="section bg-light" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="text-center mx-auto section-main-title">
                            <h2>Get In <span class="font-weight-bold">Touch</span></h2>
                            <div class="main-title-border">
                                <i class="mdi mdi-asterisk"></i>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row mt-4 pt-4">
                    <div class="col-lg-4">
                        <div class="text-center mt-4">
                            <div>
                                <i class="mbri-mobile2 text-custom h2"></i>
                            </div>
                            <div class="mt-2">
                                <p class="mb-0 font-weight-bold">Call Me At</p>
                                <p class="text-muted">(281) 236-0971</p>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <div>
                                <i class="mbri-letter text-custom h2"></i>
                            </div>
                            <div class="mt-2">
                                <p class="mb-0 font-weight-bold">Email Me At</p>
                                <p class="text-muted">gainesmitch2@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="contact_form">
                            <form method="post" action="/email">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mt-2">
                                            <label for="name" class="font-weight-bold">Name</label>
                                            <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mt-2">
                                            <label for="email" class="font-weight-bold">Email address</label>
                                            <input name="email" id="email" type="email" class="form-control" placeholder="Your email..." required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <label for="subject" class="font-weight-bold">Subject</label>
                                            <input type="text" class="form-control" id="subject" placeholder="Your Subject.." required=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <label for="comments" class="font-weight-bold">Message</label>
                                            <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <input type="submit" class="btn btn-custom" value="Send Message">
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>                          
            </div>
        </section> 
        <!-- CONTACT FORM END-->

        <!-- START FOOTER -->
        <section>
            <div class="container">
                <div class="row pt-4 pb-4">
                    <div class="col-lg-12">
                        <div class="float-left float_none mt-2 mb-2">
                            <p class="copy-rights text-muted mb-0">2018 &copy; Mitch Gaines.</p>
                        </div>
                        <div class="float-right float_none mt-2 mb-2">
                            <ul class="list-inline fot_social mb-0">
                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/mitchgaines/" target="_blank" class="social-icon text-muted"><i class="mdi mdi-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="https://github.com/MitchGaines" target="_blank" class="social-icon text-muted"><i class="mdi mdi-github-face"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END FOOTER -->

        <!-- BACK TO TOP -->    
        <a href="#" class="back_top"> <i class="mbri-arrow-up"> </i> </a>


        <!-- JAVASCRIPTS -->
        <script src="./js/jquery.min.js"></script>
        <script src="./js/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <!--EASING JS-->
        <script src="./js/jquery.easing.min.js"></script>
        <script src="./js/scrollspy.min.js"></script>
        <!-- TYPED -->
        <script src="./js/typed.js"></script>         
        <!-- MFP JS -->
        <script src="./js/jquery.magnific-popup.min.js"></script>
        <!--PORTFOLIO FILTER JS-->
        <script src="./js/isotope.js"></script> 
        <!--YOUTUBE BACKGROUND-->
        <script src="./js/jquery.mb.YTPlayer.js"></script>       
        <!-- OWL CAROUSEL -->
        <script src="./js/owl.carousel.min.js"></script>
        <!--CUSTOM JS-->
        <script src="./js/custom.js"></script>
        <script>
            $(".element").each(function() {
                var $this = $(this);
                $this.typed({
                    strings: $this.attr('data-elements').split(','),
                    typeSpeed: 100,
                    backDelay: 3000
                });
            });
            $(".youtube-bg").mb_YTPlayer();
        </script>
    </body>
</html>